CMakeListsPrivate.txt
.clang_complete
.gcc-flags.json
.pioenvs
.piolibdeps
.vscode
target/
**/.idea/
**/cmake-build-debug/
**/lib/readme.txt
**/data/
**/CMakeLists.txt
.project
.cproject
/platformio.ini
**/.settings
.pio
**/cmake-build*
**/.gitignore
CMakeFiles/
CMakeCache.txt