name: Platformio build

on:
  schedule:
    - cron: "0 0 * * 0"
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Build
        run: ./make
      - name: Package
        run: ./package
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: target/*

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifact
      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./*.elf,./*.hex,./*.spiffs"
          token: ${{ secrets.GH_TOKEN }}
